#ok{
color:violet;
}
#a1{
color:green;
}
img{
height: 250px;
}
#oo{
color:green;
}
#dg{
color:red;
}
#gh{
background-color:cyan;
}
#jh{
background-color:#f2f2f2;
}
#jk{
color:red;
}
#kk{
color:violet;
}